<div style="margin:30px;">
<h2>kinda like sort of a type of API  - example</h2>
<br>
<pre style="text-align:left";>
&lt;html&gt;
  5am/GMT is
  &lt;div data-mytime=&quot;5am/GMT&quot; data-mytime-showtimezone=&quot;true&quot;&gt;
    loading..
  &lt;/div&gt;
  &lt;script type=&quot;text/javascript&quot; src=&quot;http://mytime.io/lib.js&quot;&gt;&lt;/script&gt;
&lt;/html&gt;
</pre>
<br>
<a href="/test.html">Demo of above code</a>
</div>