<div>
  <h1><%= @title %></h1> is
</div>
<div>
  <span id="local">??:??:??</span>
</div>
<div>
  your time
</div>
<div id="zone"></div>

<script type="text/javascript">
  var date = new Date('<%= @today_string %> <%= @time %> <%= @time_standard %>');
  document.getElementById("local").innerHTML = date.toLocaleTimeString();
  
  try {
    // Get timezone. See http://stackoverflow.com/a/12496442
    var ds = date.toString();
    var TZ = ds.indexOf('(') > -1 ?
    ds.match(/\([^\)]+\)/)[0].match(/[A-Z]/g).join('') :
    ds.match(/[A-Z]{3,4}/)[0];
    if (TZ == "GMT" && /(GMT\W*\d{4})/.test(ds)) TZ = RegExp.$1;
    // show tz
    document.getElementById("zone").innerHTML = ("assuming the date is today and your time zone is <a target='_blank' rel='nofollow' href='https://www.google.com/search?q=%22" + TZ + "%22+timezone+site:wikipedia.org&btnI'>" + TZ + "</a>");
  } catch(e) {
    console.log(e);
  }


</script>