<div class="wrapper">
<div class="title">
  <h2>That time is nowhere to be found.</h2>
</div>
<div class="hint">
	<div>Check out some examples:</div>
    <div><a href="/17:35/PST">mytime.io/17:35/PST</a></div>
    <div><a href="/5am/GMT/11-August-2015">mytime.io/5am/GMT/11-August-2015</a></div>
    <div><a href="/5:30pm/UTC+02:00">mytime.io/5:30pm/UTC+02:00</a></div>
    <div><a href="/12:00/AMT">mytime.io/12:00/AMT</a></div>
</div>
</div>